@model Seminaire.Models.Conference

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Conference</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Traduction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConferenceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
