
@model IEnumerable<Conference>
@{
    ViewBag.Title = "Index";
    var langue = new CultureInfo("fr-CA");
}

<h2>Liste des Séminaires</h2>
@foreach (Conference conf in Model)
{ 
   <div>
      <h3>@Html.ActionLink(conf.Nom,"Details",
                           new { id=conf.ConferenceId})</h3>
      <p><b>@conf.Lieu</b></p> 
      <p><i>@conf.Date.ToString("D",langue), 
            @conf.Date.ToString("t",langue) 
            (@conf.Duree.TotalMinutes minutes)
      </i></p> 
      <p>@conf.Description</p>
      <hr />
   </div>
}