@model IEnumerable<Seminaire.Models.Participant>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courriel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Courriel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", "GestionParticipant",
               new { id = item.ParticipantId },
               new { @class = "btn btn-primary glyphicon glyphicon-pencil" })
            @Html.ActionLink(" ", "Details", "GestionParticipant",
               new { id = item.ParticipantId },
               new { @class = "btn btn-primary glyphicon glyphicon-list-alt" })
            @Html.ActionLink(" ", "Delete", "GestionParticipant",
               new { id = item.ParticipantId },
               new { @class = "btn btn-primary glyphicon glyphicon-remove" })
        </td>





    </tr>
}

</table>
